{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <table class="table" border="2px" style="text-align: center;">
        <thead>
        <tr>
            <th scope="col">userName</th>
            <th scope="col">passWord</th>
            <th scope="col">city</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username}}</td>
                <td>{{ user.password}}</td>
                <td>{{ user.cityId.name}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
